POSTGRES_HOST=postgres-db
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=dbname

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=changeme
RABBITMQ_MGMT_PORT=15672

GF_SECURITY_ADMIN_USER=user
GF_SECURITY_ADMIN_PASSWOR=changeme
GRAFANA_PORT=3000
GF_SERVER_HTTP_PORT=3000

VICTORIAMETRICS_PORT=8428
JAEGER_UI_PORT=16686
JAEGER_OTLP_HTTP_PORT=4318

OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://jaeger:4318/v1/traces
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://victoriametrics:8428/opentelemetry/api/v1/push

TELEGRAM_BOT_TOKEN=past_your_token
