/bin/
app

.vscode/
.idea/
.zed/
.antigravitycli/

internal/config/config.toml
.env
.venv/
venv/
ENV/
env/
.pytest_cache/
.poetry/

__pycache__/
*.py[cod]
*$py.class

*.log
internal/logs/*.log
!internal/logs/.gitkeep

.DS_Store
Thumbs.db

*.test
*.out
coverage.txt
